<a href="https://colab.research.google.com/github/Benalayanaim/-Python-challenging-programming-exercises/blob/main/100_Problem_Solving_with_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Write a python program that takes a name and returns a greeting in the form of a string

In [ ]:
#Solution1
def hello_there(name):

  return "Hello {}!".format(name)

hello_there('Tamer')

'Hello Tamer!'

In [ ]:
#Solution2
def greet(name):
    return f"Hello, {name}! Welcome!"

# Example usage
name = input("Enter your name: ")
print(greet(name))

Enter your name: naim
Hello, naim! Welcome!

#2 Write a Python program that Create a function that gives True if a string is empty and False otherwise. Try it for '' and '   5gh'

In [ ]:
#Solution 1
def check_string(s):
  if s == "":
    return True

  else:
    return False


print(check_string(""))

True

In [ ]:
#Solution 2
def is_string_empty(s):
    return s == ''

# Example usage
empty_string = ''
non_empty_string = '   5gh'

print(is_string_empty(empty_string))
print(is_string_empty(non_empty_string))

True
False

#3 Write a Python program that remove the extra spaces from the following string: ' I am        learning Python      bject        oriented     programming '

In [ ]:
#Solution 1
import re
def clean_text(text):
   return text


text = ' I am        learning Python      bject        oriented     programming '
clean_text=re.sub('  +',' ',text)
print(clean_text(clean_text))

 I am learning Python bject oriented programming

In [ ]:
#Solution 2
def remove_extra_spaces(s):
    # Split the string into words and then join them with a single space
    return ' '.join(s.split())

# Example usage
input_string = ' I am        learning Python      bject        oriented     programming '
output_string = remove_extra_spaces(input_string)
print(output_string)


#This program splits the input string into words (which automatically removes any extra spaces)
#and then joins those words back together with a single space in between each word

I am learning Python bject oriented programming

#4 Write a python program that reverse the case of string : string = "I am a python developer"

In [ ]:
#Solution 1
def reverse_case(s):

  return s.swapcase()

reverse_case("I am a python developer")

'i AM A PYTHON DEVELOPER'

In [ ]:
#Solution 2

# Python code to reverse a string
# using reversed()

# Function to reverse a string
def reverse(string):
    string = "".join(reversed(string))
    return string

s = "Naim ben alaya"

print("The original string is : ", end="")
print(s)

print(f"The reversed string(using reversed) is : {reverse(s)}")

The original string is : Naim ben alaya
The reversed string(using reversed) is : ayala neb miaN

In [ ]:
#Solution 3

# Define the string
string = "I am a python developer"

# Reverse the case and the order of each character in the string
reversed_case_and_order_string = ''.join([string[::-1]])

# Print the result
print(reversed_case_and_order_string)

repoleved nohtyp a ma I

In [ ]:
#Solution 4
def reversee(s):
    str = ""
    for i in s:
        str = i + str
    return str

s = "Club africain team"

print("The original string is : ", end="")
print(s)

print(f"The reversed string(using reversed) is : {reverse(s)}")

The original string is : Club africain team
The reversed string(using reversed) is : maet niacirfa bulC

#5 Display the number of letters in the string: my_word = "Python is wonderful"

In [ ]:
#Solution 1
# Define the string
my_word = "Club africain 1920"

# Count the number of letters in the string
number_of_letters = sum(1 for char in my_word if char.isalpha())

# Print the result
print(f"Number of letters: {number_of_letters}")

Number of letters: 12

In [ ]:
#Solution 2
alpha,string=0,"Geeks1234"
for i in string:
    if (i.isalpha()):
        alpha+=1
print("Number of Digit is", len(string)-alpha)
print(f"Number of Alphabets is { alpha}")

Number of Digit is 4
Number of Alphabets is 5

In [ ]:
#Solution 3
def display_letter(s):
    alpha = 0
    for i in s:
        if i.isalpha():
            alpha += 1
    return alpha

# Calling the function and printing the result
print(display_letter("ace 1010 eca"))

6

#6 Concatenate the following two strings together:
# string_left = "Spider" string_right = "man"

In [ ]:
#Solution 1
string_left = "Spider"
string_right = "man"

string =f"{string_left}{string_right}"
print(string)

Spiderman

In [ ]:
#Solution 2
string_left = "Spider"
string_right = "man"

print(string_left + string_right)

Spiderman

In [ ]:
#Solution 3
def concatenate_strings(string_left, string_right):
    return ''.join([string_left, string_right])

string_left = "Spider"
string_right = "man"

result = concatenate_strings(string_left, string_right)
print(result)

Spiderman

#7 Display two strings together, with a space in between
#string_one = "Python"
#string_two = "Programming"

In [ ]:
#Solution 1
string_one = "Python"
string_two = "Programming"

result = f"{string_one} {string_two} "
print(result)

Python Programming

In [ ]:
#Solution 2
def display_string(string_one, string_two):
  return " ".join([string_one, string_two])

string_one = "Python"
string_two = "Programming"

result = (display_string(string_one, string_two))
print(result)

Python Programming

#8 Use subscripting to display part of a string "Python"

In [ ]:
"""
--Subscript notation (also known as slicing) allows you to extract specific parts of a string in Python.
--Here's how you can use it with the string "Python


"""

'Subscript notation (also known as slicing) allows you to extract specific parts of a string in Python.\n Here\'s how you can use it with the string "Python'

Explanation:

**string[start:end]**: Extracts a substring starting at index start and ending just before index end.

**string[:end]:** Extracts a substring from the beginning up to (but not including) index end.

**string[start:]:** Extracts a substring starting from index start to the end of the string.

**string[start:end:step]:** Extracts a substring with a specific ***step*** between indices. The ***step*** can be negative for reversing the string.

In [ ]:
string = "Python"
result = string[0]
print(result)

P

In [ ]:
string = "Python"
result = string[-1]
print(result)

n

In [ ]:
string = "Python"
result = string[:3]
print(result)

Pyt

In [ ]:
string = "Python"
result = string[1:5]
print(result)

ytho

In [ ]:
string = "Python"
result = string[-3:]
print(result)

hon

In [ ]:
string = "Python"
result = string[::-1]
print(result)

nohtyP

In [1]:
print("Python"[2:6])

thon

#9 Switch the case of the following strings into lower case :
string1 = "Python"
string2 = "Programming"
string3 = "Language"

In [2]:
string1 = "Python"
string2 = "Programming"
string3 = "Language"

lower = f"{string1.lower()}, {string2.lower()}, {string3.lower()}"

print(lower)

python, programming, language

In [4]:
string1 = "Python".lower()
string2 = "Programming".lower()
string3 = "Language".lower()

print(string1, string2, string3)

python programming language

#10Replace every occurrence of the character "s" with the character "x"

phrase = "Somebody said something to Sara."

In [5]:
string = "Somebody said something to Sara."

newtring = string.replace("s","x")

print(newtring)

Somebody xaid xomething to Sara.

In [6]:
phrase = "Somebody said something to Sara."
new_phrase = phrase.replace("s", "x").replace("S", "X")

print(new_phrase)

Xomebody xaid xomething to Xara.

In [7]:
def replace_s_with_x(phrase):
    return phrase.replace("s", "x").replace("S", "X")

# Example usage
phrase = "Somebody said something to Sara."
new_phrase = replace_s_with_x(phrase)

print(new_phrase)

Xomebody xaid xomething to Xara.

In one of  Famous Coffee Mixer shops chain every 6 days with every day one cup

of coffee customer buys, customer gets a 7th cup free in the weekend (Sunday)!

#11 Create a Python program that takes numbers of cups bought and return the
total number of cups that customer would get and also the number of  free cups for one month( for both 30 days & 31 days):

In [12]:
def calculate_total_cups_and_free_cups(cups_per_day, days_in_month):
  total_cups_bought = cups_per_day * days_in_month
  weeks = days_in_month // 6
  free_cups = weeks * cups_per_day


  #calculate the total cups including free
  total_cups = total_cups_bought + free_cups

  return total_cups, free_cups

cups_per_day = 1
days_in_month_30 = 30
days_in_month_31 = 31

total_cups_30, free_cups_30 = calculate_total_cups_and_free_cups(cups_per_day, days_in_month_30)
total_cups_31, free_cups_31 = calculate_total_cups_and_free_cups(cups_per_day, days_in_month_31)

print(f"For 30 days: Total cups = {total_cups_30}, Free cups = {free_cups_30}")
print(f"For 31 days: Total cups = {total_cups_31}, Free cups = {free_cups_31}")

For 30 days: Total cups = 35, Free cups = 5
For 31 days: Total cups = 36, Free cups = 5

In [9]:
"""Explanation:
cups_per_day: The number of cups the customer buys each day.
days_in_month: The number of days in the month (30 or 31).
weeks: The number of full weeks in the month, calculated by dividing the total number of days by 7.
free_cups: The total number of free cups earned (1 free cup for each week).
total_cups: The total number of cups including both the bought and the free cups."""

'Explanation:\ncups_per_day: The number of cups the customer buys each day.\ndays_in_month: The number of days in the month (30 or 31).\nweeks: The number of full weeks in the month, calculated by dividing the total number of days by 7.\nfree_cups: The total number of free cups earned (1 free cup for each week).\ntotal_cups: The total number of cups including both the bought and the free cups.'

In [20]:
def total_cups_cust(n):
    return n // 6 + n

def total_cups_gets_free(n):
    return n // 6

# For 30 days
n = 30
total_cups = total_cups_cust(n)
free_cups = total_cups_gets_free(n)
print('Total cups for 30 days =', total_cups)
print('Free cups in 30 days =', free_cups)

# For 31 days
n = 31
total_cups = total_cups_cust(n)
free_cups = total_cups_gets_free(n)
print(f"Total cups for 31 days = {total_cups}")
print(f"Free cups in 31 days' = {free_cups}")

Total cups for 30 days = 35
Free cups in 30 days = 5
Total cups for 31 days = 36
Free cups in 31 days' = 5

In [18]:
"""Explanation of the Corrected Code:
total_cups_cust(n): This function correctly calculates the total cups, including the free ones.
total_cups_gets_free(n): This function correctly calculates the free cups by dividing the number of days by 6, which is the number of cups needed to get one free cup.
The code then calculates and prints the total cups and free cups for both 30-day and 31-day months."""

'Explanation of the Corrected Code:\ntotal_cups_cust(n): This function correctly calculates the total cups, including the free ones.\ntotal_cups_gets_free(n): This function correctly calculates the free cups by dividing the number of days by 6, which is the number of cups needed to get one free cup.\nThe code then calculates and prints the total cups and free cups for both 30-day and 31-day months.'